<BasicDropdown
  @onOpen={{this.onDropdownOpen}}
  @onClose={{this.onDropdownClose}} as |dd|
>
  <dd.Trigger>
    <label
      tabindex="0"
      class="rounded cursor-pointer font-light text-bas btn btn-ghost hover:bg-slate-400/40 text-lg lowercase"
    >
      {{this.userService.selectedCurrency.symbol}}
      <Tooltip>
        <span class="font-bold">
          {{t 'currency-dashboard.selected-currency'}}
        </span>
        <div>
          {{this.userService.selectedCurrency.name}}
          <span class="text-xs">
            {{concat '(' this.userService.selectedCurrency.code ')'}}
          </span>
        </div>
      </Tooltip>
    </label>
  </dd.Trigger>
  <dd.Content>
    <div class="shadow-xl card-body w-[70rem]">
      <CurrencySelection::Dashboard @onCurrencyChange={{dd.actions.close}} />
      <div class="card-actions justify-end">
        <Button class="btn-sm" {{on 'click' dd.actions.close}}>
          {{t 'modals.close-button'}}
        </Button>
      </div>
    </div>
  </dd.Content>
</BasicDropdown>