<div class="flex flex-col">
  <span class="mt-3 label-text ml-1 dark:text-gray-400">
    {{@label}}
  </span>
  <BasicDropdown @verticalPosition="below" as |dd|>
    <dd.Trigger>
      <label
        tabindex="0"
        class="border dark:border-none bg-white dark:bg-gray-700 rounded p-3 flex justify-between items-center cursor-pointer hover:bg-gray-50 dark:hover:bg-gray-700/80 dark:text-gray-300"
      >
        {{moment-format @selectedDate 'MMMM DD, YYYY'}}
        <FaIcon @icon="calendar-days" class="dark:text-gray-400" />
      </label>
    </dd.Trigger>
    <dd.Content
      class="bg-white dark:bg-gray-800 dark:border dark:border-gray-700 dark:text-gray-200"
    >
      <div class="card card-compact p-2">
        <div class="card-body">
          <h3 class="card-title">
            {{t 'date-picker.pick-a-date'}}
          </h3>
          <PowerCalendar
            @selected={{@selectedDate}}
            @onSelect={{queue this.changeDate dd.actions.close}}
            @center={{this.month}}
            @onCenterChange={{action (mut this.month) value='date'
            }} as |calendar|
          >
            <nav class="flex items-center justify-center">
              <button
                type="button"
                class="btn btn-ghost btn-sm"
                onclick={{fn calendar.actions.moveCenter -1 'month'}}
              >
                <FaIcon @icon="angle-left" />
              </button>
              <span class="w-20 flex justify-center font-bold">
                {{moment-format calendar.center 'MMMM'}}
              </span>
              <button
                class="btn btn-ghost btn-sm"
                onclick={{fn calendar.actions.moveCenter 1 'month'}}
                type="button"
              >
                <FaIcon @icon="angle-right" />
              </button>
              <button
                type="button"
                class="btn btn-ghost btn-sm mr-2"
                onclick={{fn calendar.actions.moveCenter -12 'month'}}
              >
                <FaIcon @icon="angle-left" />
              </button>
              <span class="font-bold">
                {{moment-format calendar.center 'YYYY'}}
              </span>
              <button
                class="btn btn-ghost btn-sm ml-2"
                onclick={{fn calendar.actions.moveCenter 12 'month'}}
                type="button"
              >
                <FaIcon @icon="angle-right" />
              </button>
            </nav>
            <calendar.Days />
          </PowerCalendar>
          <div class="card-actions justify-end">
            <Button
              class="btn-sm dark:bg-gray-900"
              {{on 'click' dd.actions.close}}
            >
              {{t 'modals.close-button'}}
            </Button>
          </div>
        </div>
      </div>
    </dd.Content>
  </BasicDropdown>
</div>