<div class="form-control w-full" ...attributes>
  {{#if @label}}
    <label class="label py-1">
      <span class="label-text leading-none">
        {{@label}}
        {{#if @tooltipText}}
          <span class="ml-1">
            <FaIcon @icon="circle-info" />
            <Tooltip>
              {{@tooltipText}}
            </Tooltip>
          </span>
        {{/if}}
      </span>
    </label>
  {{/if}}
  <input
    value={{@value}}
    type={{this.type}}
    min={{@min}}
    placeholder={{@placeholder}}
    class="input input-bordered w-full
      {{this.size}}

      {{unless this.isFormValidated (unless @exceptFromValidation 'input-error')
      }}"
    {{on 'input' this.updateInputValue}}
  />
</div>