<div
  class="flex flex-col w-36 text-center rounded shadow p-2 text-sm
    {{if this.isCurrentMonth 'bg-gray-300/70' 'bg-gray-200/70'}}"
>
  <div class="flex justify-center">
    <span
      class="text-xs
        {{if this.isCurrentMonth 'text-gray-800 font-semibold' 'text-gray-500'
        }}"
    >
      {{@monthInfo.formatedDate}}
    </span>
    <CurrencyInfo
      @hideCurrencySymbol={{true}}
      @currencyCode={{@savingPlan.currencyCode}}
    />
  </div>
  <span class="flex flex-col text-xs mt-2">
    Target
    <span class="font-bold text-base leading-tight">
      {{concat (round @monthInfo.targetSavings) @currencySymbol}}
    </span>
    <Tooltip>
      In
      {{moment-format @monthInfo.momentDate 'MMMM YYYY'}}
      you are expected to save
      {{round @monthInfo.targetSavings decimals=2}}
      {{@currencySymbol}}
    </Tooltip>
  </span>
  <span class="flex flex-col text-xs mt-2 relative">
    <div class="flex justify-center items-center">
      Saved
      {{#if this.isEditAllowed}}
        <div class="absolute right-0">
          <Modals::EditMonthSavings
            @monthInfo={{@monthInfo}}
            @currencySymbol={{@currencySymbol}}
            @savingPlan={{@savingPlan}}
          />
        </div>
      {{/if}}
    </div>
    <div class="flex justify-center items-center relative">
      <span class="font-bold text-base leading-tight">
        {{concat @monthInfo.savedAmount @currencySymbol}}
        {{! TODO: }}
        <Tooltip>
          In
          {{moment-format @monthInfo.momentDate 'MMMM YYYY'}}
          you saved
          {{concat @monthInfo.savedAmount @currencySymbol}}
        </Tooltip>
      </span>
      {{#if this.progressPercentage}}
        <div
          class="absolute right-0 top-0 mt-0.5 text-xs
            {{if (gt this.progressPercentage 0) 'bg-lime-700/60' 'bg-red-700/60'
            }}
             px-1 text-white rounded"
        >
          <FaIcon
            @icon={{if
              (gt this.progressPercentage 0)
              'arrow-trend-up'
              'arrow-trend-down'
            }}
          />
          <Tooltip>
            {{concat this.progressPercentage '%'}}
          </Tooltip>
        </div>
      {{/if}}
    </div>
  </span>
</div>