<div
  class="flex flex-col w-36 text-center bg-gray-200/80 rounded shadow p-2 text-sm"
>
  <span class="text-xs text-gray-500">
    {{@monthInfo.formatedDate}}
  </span>
  <span class="flex flex-col text-xs mt-2">
    Target
    <span class="font-bold text-base leading-tight">
      {{concat (round @monthInfo.targetSavings) @currency}}
    </span>
    <Tooltip>
      In
      {{moment-format @monthInfo.momentDate 'MMMM YYYY'}}
      you are expected to save
      {{round @monthInfo.targetSavings decimals=2}}
      {{@currency}}
    </Tooltip>
  </span>
  <span class="flex flex-col text-xs mt-2 relative">
    <div class="flex justify-center items-center">
      Saved
      <div class="absolute right-0">
        <Modals::EditMonthSavings
          @monthInfo={{@monthInfo}}
          @currency={{@currency}}
          @savingPlan={{@savingPlan}}
        />
      </div>
    </div>
    <div class="flex justify-center items-center relative">
      <span class="font-bold text-base leading-tight">
        {{concat
          (if
            @monthInfo.savedAmount (concat @monthInfo.savedAmount @currency) '-'
          )
        }}
        <Tooltip>
          In
          {{moment-format @monthInfo.momentDate 'MMMM YYYY'}}
          you saved
          {{concat @monthInfo.savedAmount @currency}}
        </Tooltip>
      </span>
      {{#if this.progressPercentage}}
        <div
          class="absolute right-0 top-0 mt-0.5 text-xs
            {{if (gt this.progressPercentage 0) 'bg-lime-700/60' 'bg-red-700/60'
            }}
             px-1 text-white rounded"
        >
          <FaIcon
            @icon={{if
              (gt this.progressPercentage 0)
              'arrow-trend-up'
              'arrow-trend-down'
            }}
          />
          <Tooltip>
            {{concat this.progressPercentage '%'}}
          </Tooltip>
        </div>
      {{/if}}
    </div>
  </span>
</div>