<div
  class="flex flex-col w-28 text-center bg-gray-200/80 rounded shadow p-2 text-sm"
>
  <span class="text-xs text-gray-500">
    {{@monthInfo.formatedDate}}
  </span>
  <span class="flex flex-col text-xs mt-2">
    Target
    <span class="font-bold text-base leading-none">
      {{concat (round @monthInfo.targetSavings) @currency}}
    </span>
    <Tooltip>
      In
      {{moment-format @monthInfo.momentDate 'MMMM YYYY'}}
      you are expected to save
      {{round @monthInfo.targetSavings decimals=2}}
      {{@currency}}
    </Tooltip>
  </span>
  <span class="flex flex-col text-xs mt-2">
    Saved
    <div class="flex justify-center items-center gap-1">
      <span class="font-bold text-base leading-none">
        {{concat @monthInfo.savedAmount @currency}}
      </span>
      <Modals::EditMonthSavings
        @monthInfo={{@monthInfo}}
        @currency={{@currency}}
      />
    </div>
    <Tooltip>
      In
      {{moment-format @monthInfo.momentDate 'MMMM YYYY'}}
      you saved
      {{concat @monthInfo.savedAmount @currency}}
    </Tooltip>
  </span>
</div>