<div
  class="flex flex-col w-36 text-center rounded shadow p-2 text-sm dark:text-gray-300
    {{if
      this.isCurrentMonth
      'bg-gray-300/70 dark:bg-gray-950'
      'bg-gray-200/70 dark:bg-gray-950/70'
    }}"
>
  <div class="flex justify-center">
    <span
      class="text-xs capitalize
        {{if
          this.isCurrentMonth
          'text-gray-800 dark:text-gray-200 font-semibold'
          'text-gray-500 dark:text-gray-300 '
        }}"
    >
      {{moment-format @monthInfo.date 'MMMM YYYY'}}
    </span>
    <CurrencyInfo
      @hideCurrencySymbol={{true}}
      @currencyCode={{@savingPlan.currencyCode}}
    />
  </div>
  <span class="flex flex-col text-xs mt-2">
    {{t 'saving-plan-detail-page.monthly-planning-card.target'}}
    <span class="font-bold text-base leading-tight">
      {{concat
        (if
          (lte @monthInfo.targetSavings 0) '0' (round @monthInfo.targetSavings)
        )
        @currencySymbol
      }}
    </span>
    <Tooltip>
      {{t
        'saving-plan-detail-page.monthly-planning-card.tooltip'
        month=(moment-format @monthInfo.momentDate 'MMMM YYYY')
        amount=(round @monthInfo.targetSavings decimals=2)
        currency=@currencySymbol
      }}
    </Tooltip>
  </span>
  <span class="flex flex-col text-xs mt-2 relative">
    <div class="flex justify-center items-center">
      {{t 'saving-plan-detail-page.saved'}}
      {{#if this.isEditAllowed}}
        <div class="absolute right-0">
          <Modals::EditMonthSavings
            @monthInfo={{@monthInfo}}
            @currencySymbol={{@currencySymbol}}
            @savingPlan={{@savingPlan}}
          />
        </div>
      {{/if}}
    </div>
    <div class="flex justify-center items-center relative">
      <span class="font-bold text-base leading-tight">
        {{this.savedAmount}}
        <Tooltip>
          {{#if (eq @monthInfo.savedAmount null)}}
            {{t 'saving-plan-detail-page.monthly-planning-card.no-savings-yet'}}
          {{else}}
            {{t
              'saving-plan-detail-page.monthly-planning-card.tooltip-saved-amount'
              month=(moment-format @monthInfo.momentDate 'MMMM YYYY')
              amount=@monthInfo.savedAmount
              currency=@currencySymbol
            }}
          {{/if}}
        </Tooltip>
      </span>
      {{#if this.progressPercentage}}
        <div
          class="absolute right-0 top-0 mt-0.5 text-xs
            {{if (gt this.progressPercentage 0) 'bg-lime-700/60' 'bg-red-700/60'
            }}
             px-1 text-white rounded"
        >
          <FaIcon
            @icon={{if
              (gt this.progressPercentage 0)
              'arrow-trend-up'
              'arrow-trend-down'
            }}
          />
          <Tooltip>
            {{concat this.progressPercentage '%'}}
          </Tooltip>
        </div>
      {{/if}}
    </div>
  </span>
</div>