<div class="navbar bg-base-100">
  <div class="flex-1">
    <a class="btn btn-ghost normal-case text-xl">
      AlinaFinancito
    </a>
  </div>
  <div>
    {{!-- <PowerSelect
      class="w-[10rem]"
      @options={{this.currencyService.currencies}}
      @selected={{this.currencyService.selectedCurrency}}
      @onChange={{fn (noop)}} as |currency|
    >
      <span class="no-wrap text-sm">
        {{currency.name}}
      </span>
      <div class="text-xs font-light">
        {{currency.code}}
        {{currency.symbol}}
      </div>
    </PowerSelect> --}}
    <BasicDropdown as |dd|>
      <dd.Trigger>
        <label
          tabindex="0"
          class="border bg-white rounded cursor-pointer hover:bg-gray-50"
        >
          {{this.currencyService.selectedCurrency.code}}
          {{this.currencyService.selectedCurrency.symbol}}
        </label>
      </dd.Trigger>
      <dd.Content>
        <div class="card-body">
          <h2 class="card-title">
            Choose a currency
          </h2>
          <div class="grid grid-cols-10 gap-4">
            {{#each this.currencyService.currencies as |currency|}}
              <span class="no-wrap text-sm">
                {{currency.symbol}}
                -
                {{currency.code}}
                <Tooltip>
                  {{currency.name}}
                </Tooltip>
              </span>
            {{/each}}
          </div>
        </div>
      </dd.Content>
    </BasicDropdown>
  </div>
  <div class="flex-none">
    <ul class="menu menu-horizontal px-1">
      <li>
        <a>
          Item 1
        </a>
      </li>
      <li tabindex="0">
        <a>
          Parent
          <svg
            class="fill-current"
            xmlns="http://www.w3.org/2000/svg"
            width="20"
            height="20"
            viewBox="0 0 24 24"
          >
            <path
              d="M7.41,8.58L12,13.17L16.59,8.58L18,10L12,16L6,10L7.41,8.58Z"
            ></path>
          </svg>
        </a>
        <ul class="p-2 bg-base-100">
          <li>
            <a>
              Submenu 1
            </a>
          </li>
          <li>
            <a>
              Submenu 2
            </a>
          </li>
        </ul>
      </li>
      <li>
        <a>
          Item 3
        </a>
      </li>
    </ul>
  </div>
</div>