<div class="card bg-base-100 shadow-xl dark:bg-gray-800" ...attributes>
  <div
    class="card-body flex flex-col justify-between h-[19rem] p-6 fade-in-animation dark:text-gray-200"
  >
    <h2 class="text-xl ml-4">
      {{t 'home-page.saving-plans-card.title'}}
    </h2>
    {{#if this.requestService.isAppDataLoading}}
      <div class="text-center">
        <span class="loading loading-ring loading-lg"></span>
      </div>
    {{else if this.savingPlanService.savingPlans}}
      <div class="overflow-auto">
        <table class="table w-full">
          {{! head }}
          <thead>
            <tr class="dark:text-white dark:border-gray-950">
              <th>
                {{t 'home-page.saving-plans-card.table.name'}}
              </th>
              <th class="hidden xl:flex">
                {{t 'home-page.saving-plans-card.table.progress'}}
              </th>
              <th>
                {{t 'home-page.saving-plans-card.table.deadline'}}
              </th>
            </tr>
          </thead>
          <tbody>
            {{#each this.savingPlanService.savingPlans as |savingPlan|}}
              <tr class="dark:border-gray-950">
                <td>
                  {{savingPlan.title}}
                </td>
                <td class="hidden xl:flex">
                  <div class="flex flex-col mt-2">
                    <span class="text-xs leading-[0]">
                      {{sum savingPlan.totalSavings savingPlan.startingCapital}}
                      {{get
                        (find-by
                          'code'
                          savingPlan.currencyCode
                          this.userService.currencies
                        )
                        'symbol'
                      }}
                    </span>
                    <div>
                      <progress
                        class="progress progress-primary w-60 dark:bg-gray-500"
                        value={{compute (fn this.progressPercentage savingPlan)
                        }}
                        max="100"
                      ></progress>
                      <span class="opacity-50 text-xs">
                        {{savingPlan.targetAmount}}
                        {{get
                          (find-by
                            'code'
                            savingPlan.currencyCode
                            this.userService.currencies
                          )
                          'symbol'
                        }}
                      </span>
                    </div>
                  </div>
                </td>
                <td>
                  {{moment-format savingPlan.deadlineDate 'MMMM DD, YYYY'}}
                </td>
                <td>
                  <LinkTo
                    class="btn btn-outline btn-primary btn-sm dark:border-fuchsia-700 dark:text-fuchsia-700"
                    type="button"
                    @route="saving-plan-detailed-view"
                    @model={{savingPlan.id}}
                  >
                    {{t 'home-page.saving-plans-card.table.details-button'}}
                  </LinkTo>
                </td>
              </tr>
            {{/each}}
          </tbody>
        </table>
      </div>
    {{else}}
      <div class="flex justify-center">
        <Alert
          @text={{t 'home-page.saving-plans-card.alert-no-saving-plans'}}
        />
      </div>
    {{/if}}
    <div class="self-end mt-4">
      <Modals::CreateNewSavingPlan />
    </div>
  </div>
</div>