{{#if this.savingPlanService.savingPlans}}
  <div class="overflow-x-auto w-2/4">
    <table class="table w-full">
      {{! head }}
      <thead>
        <tr>
          <th></th>
          <th>
            Saving goal
          </th>
          <th>
            Goal amount
          </th>
          <th>
            Deadline
          </th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        {{#each this.savingPlanService.savingPlans as |savingPlan index|}}
          <tr>
            <th>
              {{add 1 index}}
            </th>
            <td>
              {{savingPlan.title}}
            </td>
            <td>
              {{savingPlan.goalAmount}}
              {{savingPlan.currency}}
            </td>
            <td>
              {{moment-format savingPlan.deadlineDate 'MMMM DD, YYYY'}}
            </td>
            <th>
              <div class="flex">
                <span class="mr-1">
                  <Modals::EditSavingPlan @savingPlan={{savingPlan}} />
                </span>
                <Modals::DeleteSavingPlan @savingPlan={{savingPlan}} />
              </div>
            </th>
          </tr>
        {{/each}}
      </tbody>
    </table>
  </div>
{{else}}
  <Alert @text="You have no saving plans" />
{{/if}}