{{#if this.savingPlanService.savingPlans}}
  <div class="overflow-x-auto">
    <table class="table w-full">
      {{! head }}
      <thead>
        <tr>
          <th></th>
          <th>
            Saving goal
          </th>
          <th>
            Target amount
          </th>
          <th>
            Savings to reach the target
            <span class="ml-1">
              <FaIcon @icon="circle-info" />
              <Tooltip>
                Amount of money needed to save per month to reach the target until the deadline
              </Tooltip>
            </span>
          </th>
          <th>
            Time until the deadline
          </th>
          <th>
            Deadline
          </th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        {{#each this.savingPlanService.savingPlans as |savingPlan index|}}
          <tr class="text-sm">
            <th>
              {{add 1 index}}
            </th>
            <td>
              {{savingPlan.title}}
            </td>
            <td>
              {{savingPlan.targetAmount}}
              {{compute (fn this.getCurrencySymbol savingPlan.currencyCode)}}
            </td>
            <td>
              {{compute (fn this.calculateMonthlySavingsNeeded savingPlan)}}
            </td>
            <td>
              {{compute (fn this.getTimeUntilDeadline savingPlan.deadlineDate)}}
            </td>
            <td>
              {{moment-format savingPlan.deadlineDate 'MMMM DD, YYYY'}}
            </td>
            <th>
              <div class="flex">
                <span class="mr-1">
                  <Modals::EditSavingPlan @savingPlan={{savingPlan}} />
                </span>
                <Modals::DeleteSavingPlan @savingPlan={{savingPlan}} />
              </div>
            </th>
          </tr>
        {{/each}}
      </tbody>
    </table>
  </div>
{{else}}
  <Alert @text="You have no saving plans" />
{{/if}}