<div class="card bg-base-100 shadow-xl" ...attributes>
  <div class="card-body flex flex-col py-3 px-6 fade-in-animation">
    <h2 class="text-base text-center text-gray-600">
      {{t 'home-page.savings'}}
      <div class="text-gray-500 text-sm">
        {{moment-format (now) 'MMMM YYYY'}}
      </div>
    </h2>
    <div class="flex justify-center items-center">
      <p
        class="text-2xl font-bold whitespace-nowrap lowercase flex justify-center py-2"
      >
        {{#if this.requestService.isAppDataLoading}}
          <span class="loading loading-ring loading-lg"></span>
        {{else}}
          {{if this.data.savings this.data.savings '-'}}
          <CurrencyInfo
            class={{unless this.data 'ml-1'}}
            @currencyCode={{this.data.currencyCode}}
          />
        {{/if}}
        {{#if this.data}}
          <Popover @side="bottom">
            <div class="mb-2 flex items-center gap-2 text-xs font-light">
              <span class="px-1.5 py-0.5 border rounded-md text-center shadow">
                {{t 'home-page.income'}}
              </span>
              -
              <span class="px-1.5 py-0.5 border rounded-md text-center shadow">
                {{t 'home-page.spendings'}}
              </span>
              =
              <span class="px-1.5 py-0.5 border rounded-md text-center shadow">
                {{t 'home-page.savings'}}
              </span>
            </div>
            <div class="flex items-center gap-2 text-xs font-light">
              <span class="px-1.5 py-0.5 border rounded-md text-center shadow">
                {{concat this.data.income this.currencySymbol}}
              </span>
              -
              <span class="px-1.5 py-0.5 border rounded-md text-center shadow">
                {{concat this.data.spendings this.currencySymbol}}
              </span>
              =
              <span class="px-1.5 py-0.5 border rounded-md text-center shadow">
                {{concat this.data.savings this.currencySymbol}}
              </span>
            </div>
          </Popover>
        {{/if}}
      </p>
    </div>
  </div>
</div>