<div class="card bg-base-100 shadow-xl" ...attributes>
  <div class="card-body flex flex-col py-3 px-6">
    <h2 class="text-base text-center text-gray-600">
      Spendings
      <div class="text-gray-500 text-sm">
        June 2023
      </div>
    </h2>
    <div class="flex items-center">
      {{#if this.isEditBlockOpen}}
        <InputField
          class="mr-2"
          @type="number"
          @value={{this.currentMonthSpending}}
          @onInput={{fn (mut this.currentMonthSpending)}}
        />
      {{else}}
        <p class="text-xl font-bold">
          {{this.currentMonthSpending}}
          {{this.currencyService.selectedCurrency.symbol}}
        </p>
      {{/if}}
      <button
        class="btn btn-sm btn-primary"
        type="button"
        {{on 'click' (fn (mut this.isEditBlockOpen) (not this.isEditBlockOpen))
        }}
      >
        {{#if this.isEditBlockOpen}}
          <FaIcon @icon="floppy-disk" />
        {{else}}
          <FaIcon @icon="pen-to-square" />
        {{/if}}
      </button>
    </div>
  </div>
</div>