<div class="card w-96 bg-base-100 shadow-xl">
  <div class="card-body flex flex-col justify-between">
    <h2 class="text-xl text-gray-600">
      Total Balance
      <span class="text-lg ml-1">
        <FaIcon @icon="circle-info" />
        <Tooltip>
          Your total savings. You can edit it any time
        </Tooltip>
      </span>
    </h2>
    {{#if this.isEditBlockOpen}}
      <InputField
        class="mt-3"
        @type="number"
        @value={{this.totalBalance}}
        @onInput={{fn (mut this.totalBalance)}}
      />
    {{else}}
      <p class="text-4xl mt-3 font-bold">
        {{this.totalBalance}}
        {{this.currencyService.selectedCurrency.symbol}}
      </p>
    {{/if}}
    <div class="card-actions justify-end">
      <button
        class="btn btn-primary"
        type="button"
        {{on 'click' (fn (mut this.isEditBlockOpen) (not this.isEditBlockOpen))
        }}
      >
        {{if this.isEditBlockOpen 'Save' 'Update'}}
      </button>
    </div>
  </div>
</div>