<div class="card h-36 bg-base-100 shadow-xl" ...attributes>
  <div class="card-body flex flex-col justify-start p-6">
    <h2 class="text-lg text-gray-600">
      Total Balance
      <span class="ml-1">
        <FaIcon @icon="circle-info" />
        <Tooltip>
          Your total savings. You can edit it any time
        </Tooltip>
      </span>
    </h2>
    <div class="flex items-center mt-3">
      {{#if this.isEditBlockOpen}}
        <InputField
          class="mr-2"
          @type="number"
          @value={{this.totalBalance}}
          @onInput={{fn (mut this.totalBalance)}}
        />
        <button
          class="btn btn-sm btn-primary"
          type="button"
          {{on 'click' (fn (mut this.isEditBlockOpen) false)}}
        >
          <FaIcon @icon="floppy-disk" />
        </button>
      {{else}}
        <p
          class="text-2xl text-center font-bold btn btn-ghost"
          {{on 'click' (fn (mut this.isEditBlockOpen) true)}}
        >
          {{this.totalBalance}}
          {{this.currencyService.selectedCurrency.symbol}}
          <Tooltip @side="bottom">
            Click to edit
          </Tooltip>
        </p>
      {{/if}}
    </div>
  </div>
</div>