<Modals::-TriggerButton>
  <p
    class="text-xl text-center btn btn-ghost font-bold whitespace-nowrap"
    {{on 'click' (fn (mut this.isModalOpen) true)}}
  >
    {{if this.monthSpendings this.monthSpendings '-'}}
    {{this.currency}}
    <Tooltip @side="bottom">
      Click to edit
    </Tooltip>
  </p>
</Modals::-TriggerButton>
<Modals::-base @isOpen={{this.isModalOpen}}>
  <:header>
    <div>
      Income June 2023
    </div>
  </:header>
  <:body>
    <InputField
      class="mr-2"
      @type="number"
      @value={{this.editedMonthSpendings}}
      @onInput={{fn (mut this.editedMonthSpendings)}}
    />
    <div class="flex justify-between items-center mt-5">
      <Modals::-TriggerButton>
        <span class="btn" {{on 'click' (fn (mut this.isModalOpen) false)}}>
          Close
        </span>
      </Modals::-TriggerButton>
      <Button {{on 'click' this.saveChanges}}>
        <FaIcon @icon="floppy-disk" class="mr-1" />
        Save
      </Button>
    </div>
  </:body>
</Modals::-base>