<Modals::-TriggerButton>
  <span
    class="btn btn-sm btn-ghost bg-gray-200/80 dark:bg-gray-950/80 dark:text-gray-100 dark:hover:bg-gray-950"
    {{on 'click' (fn (mut this.isModalOpen) true)}}
  >
    <FaIcon @icon="plus" />
    <Tooltip>
      {{t
        'modals.add-finance-data.tooltip'
        month=(moment-format @candidateDatetime 'MMMM YYYY')
        htmlSafe=true
      }}
    </Tooltip>
  </span>
</Modals::-TriggerButton>
<Modals::-base @isOpen={{this.isModalOpen}}>
  <:header>
    {{#if this.isTotalBalanceModalOpen}}
      {{t 'home-page.total-balance.title'}}
    {{else}}
      {{t
        'modals.add-finance-data.header'
        month=(moment-format @candidateDatetime 'MMMM YYYY')
      }}
    {{/if}}
  </:header>
  <:body>
    <div>
      {{#if this.isTotalBalanceModalOpen}}
        {{t
          'modals.add-finance-data.total-balance-question'
          currency=this.currencySymbol
        }}
        <InputField
          class="mt-2 mr-2"
          @type="number"
          @value={{this.valueInput}}
          @onInput={{fn (mut this.valueInput)}}
          @placeholder={{t 'modals.add-finance-data.input-placeholder'}}
        />
        <div class="flex justify-between items-center mt-5">
          <Modals::-TriggerButton>
            <Button {{on 'click' (fn (mut this.isModalOpen) false)}}>
              {{t 'modals.close-button'}}
            </Button>
          </Modals::-TriggerButton>
          <Button
            class="btn-neutral"
            {{on 'click' this.saveInitialTotalBalance}}
          >
            <FaIcon @icon="arrow-right" />
            {{t 'modals.continue-button'}}
          </Button>
        </div>
      {{else}}
        <div
          class="flex justify-between items-center"
          {{did-insert this.resetEditableValues}}
        >
          {{moment-format @candidateDatetime 'MMMM YYYY'}}
          <Button
            class="btn-sm btn-outline dark:bg-gray-700/70 dark:hover:bg-gray-700"
            {{on 'click' this.resetEditableValues}}
          >
            <FaIcon @icon="rotate-right" class="mr-1" />
            {{t 'reset-button'}}
          </Button>
        </div>
        <Forms::FinanceData @data={{this.financeData}} />
        <div class="flex justify-between items-center mt-5">
          <div class="flex">
            {{#unless this.financeService.financeDataList.length}}
              <Button
                class="btn-neutral mr-3"
                {{on 'click' (fn (mut this.isTotalBalanceModalOpen) true)}}
              >
                <FaIcon @icon="arrow-left" />
                {{t 'go-back-button'}}
              </Button>
            {{/unless}}
            <Modals::-TriggerButton>
              <Button
                class="dark:bg-gray-950"
                {{on 'click' (fn (mut this.isModalOpen) false)}}
              >
                {{t 'modals.close-button'}}
              </Button>
            </Modals::-TriggerButton>
          </div>
          <Button class="btn-primary" {{on 'click' this.addDataForNewMonth}}>
            <FaIcon @icon="floppy-disk" class="mr-1" />
            {{t 'modals.save-button'}}
          </Button>
        </div>
      {{/if}}
    </div>
  </:body>
</Modals::-base>