<Modals::-TriggerButton>
  <p
    class="text-2xl text-center font-bold btn btn-ghost whitespace-nowrap"
    {{on 'click' (fn (mut this.isModalOpen) true)}}
  >
    {{if this.value this.value '-'}}
    {{this.currencySymbol}}
    <Tooltip @side="bottom">
      Click to edit
    </Tooltip>
  </p>
</Modals::-TriggerButton>
<Modals::-base @isOpen={{this.isModalOpen}}>
  <:header>
    <div>
      {{capitalize @type}}
      {{concat '(' this.currencySymbol ')'}}
      <div class="font-normal">
        {{this.month}}
      </div>
    </div>
  </:header>
  <:body>
    <InputField
      class="mr-2"
      @type="number"
      @value={{this.valueInput}}
      @onInput={{fn (mut this.valueInput)}}
      @placeholder="Enter your {{@type}} for {{this.month}}"
    />
    <div class="flex justify-between items-center mt-5">
      <Modals::-TriggerButton>
        <Button {{on 'click' (fn (mut this.isModalOpen) false)}}>
          Close
        </Button>
      </Modals::-TriggerButton>
      <Button class="btn-primary" {{on 'click' this.saveChanges}}>
        <FaIcon @icon="floppy-disk" class="mr-1" />
        Save
      </Button>
    </div>
  </:body>
</Modals::-base>