<Modals::-TriggerButton>
  <span
    class="btn btn-sm btn-ghost bg-gray-200/80"
    {{on 'click' (fn (mut this.isModalOpen) true)}}
  >
    <FaIcon @icon="plus" />
    <Tooltip>
      Add financial data for
      <span class="whitespace-nowrap font-bold">
        {{@candidateMonth}}
      </span>
    </Tooltip>
  </span>
</Modals::-TriggerButton>
<Modals::-base @isOpen={{this.isModalOpen}}>
  <:header>
    <div>
      Add data for
      {{@candidateMonth}}
    </div>
  </:header>
  <:body>
    <div
      class="flex justify-between items-center"
      {{did-insert this.resetEditableValues}}
    >
      {{@candidateMonth}}
      <Button
        class="btn-sm btn-outline"
        {{on 'click' this.resetEditableValues}}
      >
        <FaIcon @icon="rotate-right" class="mr-1" />
        Reset
      </Button>
    </div>
    <Forms::FinanceData @data={{this.financeData}} />
    <div class="flex justify-between items-center mt-5">
      <Modals::-TriggerButton>
        <span class="btn" {{on 'click' (fn (mut this.isModalOpen) false)}}>
          Close
        </span>
      </Modals::-TriggerButton>
      <Button {{on 'click' this.addDataForNewMonth}}>
        <FaIcon @icon="floppy-disk" class="mr-1" />
        Add & Save
      </Button>
    </div>
  </:body>
</Modals::-base>