<Modals::-TriggerButton>
  <p
    class="text-2xl text-center font-bold btn btn-ghost whitespace-nowrap"
    {{on 'click' (fn (mut this.isModalOpen) true)}}
  >
    {{this.totalBalance}}
    {{this.currency}}
    <Tooltip @side="bottom">
      Click to edit
    </Tooltip>
  </p>
</Modals::-TriggerButton>
<Modals::-base @isOpen={{this.isModalOpen}}>
  <:header>
    <div>
      Total Savings
      {{concat '(' this.currency ')'}}
      <div class="font-normal">
        June 2023
      </div>
    </div>
  </:header>
  <:body>
    <InputField
      class="mr-2"
      @type="number"
      @value={{this.editedTotalBalance}}
      @onInput={{fn (mut this.editedTotalBalance)}}
    />
    <div class="flex justify-between items-center mt-5">
      <Modals::-TriggerButton>
        <span class="btn" {{on 'click' (fn (mut this.isModalOpen) false)}}>
          Close
        </span>
      </Modals::-TriggerButton>
      <Button {{on 'click' this.saveChanges}}>
        <FaIcon @icon="floppy-disk" class="mr-1" />
        Save
      </Button>
    </div>
  </:body>
</Modals::-base>