<Modals::-TriggerButton>
  <p
    class="{{if @buttonSmall 'text-lg py-1.5' 'text-2xl py-2'}}
       text-center font-bold whitespace-nowrap lowercase btn btn-ghost inline"
    {{on 'click' (fn (mut this.isModalOpen) true)}}
  >
    {{#if this.requestService.isAppDataLoading}}
      <span class="loading loading-ring loading-lg"></span>
    {{else}}
      {{concat
        (if
          this.userService.initialTotalBalance
          this.userService.initialTotalBalance
          '- '
        )
        this.currency.symbol
      }}
    {{/if}}
    <Tooltip @side="bottom">
      Click to change initial total balance value
    </Tooltip>
  </p>
</Modals::-TriggerButton>
<Modals::-base @isOpen={{this.isModalOpen}}>
  <:header>
    {{this.month}}
  </:header>
  <:body>
    <InputField
      class="mr-2"
      @label={{concat 'Initial total balance' ' (' this.currency.symbol ')'}}
      @type="number"
      @value={{this.valueInput}}
      @onInput={{fn (mut this.valueInput)}}
      @placeholder="Edit initial total balance ()"
    />
    <div class="flex justify-between items-center mt-5">
      <Modals::-TriggerButton>
        <Button {{on 'click' (fn (mut this.isModalOpen) false)}}>
          {{t 'modals.close-button'}}
        </Button>
      </Modals::-TriggerButton>
      <Button class="btn-primary" {{on 'click' this.saveChanges}}>
        <FaIcon @icon="floppy-disk" />
        {{t 'modals.save-button'}}
      </Button>
    </div>
  </:body>
</Modals::-base>