<Modals::-TriggerButton class="mt-1">
  <p
    class="text-2xl text-center font-bold whitespace-nowrap lowercase btn btn-ghost inline py-2"
    {{on 'click' (fn (mut this.isModalOpen) true)}}
  >
    {{#if this.requestService.isAppDataLoading}}
      <span class="loading loading-ring loading-lg"></span>
    {{else}}
      {{if this.value this.value '-'}}
      {{this.currency.symbol}}
      {{#if this.currencyDiffersFromAppCurrency}}
        <FaIcon
          class="text-base text-yellow-600 mb-0.5"
          @icon="circle-exclamation"
        />
      {{/if}}
    {{/if}}
    <Tooltip @side="bottom">
      Click to edit
      {{#if this.currencyDiffersFromAppCurrency}}
        <div class="mt-2">
          <span class="font-bold">
            Warning!
          </span>
          Currency
          {{this.currency.code}}
          differs from the selected app currency
          {{this.userService.selectedCurrency.code}}
        </div>
      {{/if}}
    </Tooltip>
  </p>
</Modals::-TriggerButton>
<Modals::-base @isOpen={{this.isModalOpen}}>
  <:header>
    {{this.month}}
  </:header>
  <:body>
    <InputField
      class="mr-2"
      @label={{concat (capitalize @type) ' (' this.currency.symbol ')'}}
      @type="number"
      @value={{this.valueInput}}
      @onInput={{fn (mut this.valueInput)}}
      @placeholder="Enter your {{@type}} for {{this.month}}"
    />
    <div class="flex justify-between items-center mt-5">
      <Modals::-TriggerButton>
        <Button {{on 'click' (fn (mut this.isModalOpen) false)}}>
          Close
        </Button>
      </Modals::-TriggerButton>
      <Button class="btn-primary" {{on 'click' this.saveChanges}}>
        <FaIcon @icon="floppy-disk" class="mr-1" />
        Save
      </Button>
    </div>
  </:body>
</Modals::-base>