<Modals::-TriggerButton>
  <span
    class="btn btn-primary btn-sm"
    {{on 'click' (fn (mut this.isModalOpen) true)}}
  >
    <FaIcon @icon="plus" />
    {{t 'home-page.saving-plans-card.create-new-button'}}
  </span>
</Modals::-TriggerButton>
<Modals::-base @isOpen={{this.isModalOpen}}>
  <:header>
    <div>
      {{t 'home-page.saving-plans-card.modal.header'}}
    </div>
  </:header>
  <:body>
    <Forms::SavingPlan @savingPlanInformation={{this.newSavingPlan}} />
    <div
      class="flex justify-between items-center mt-5"
      {{did-insert this.initiateNewSavingPlan}}
    >
      <Modals::-TriggerButton>
        <Button {{on 'click' (fn (mut this.isModalOpen) false)}}>
          {{t 'modals.close-button'}}
        </Button>
      </Modals::-TriggerButton>
      <Button class="btn-primary" {{on 'click' this.createSavingPlan}}>
        <FaIcon @icon="floppy-disk" />
        {{t 'modals.save-button'}}
      </Button>
    </div>
  </:body>
</Modals::-base>