<Modals::-TriggerButton>
  <span
    class="btn btn-primary btn-sm"
    {{on 'click' (fn (mut this.isModalOpen) true)}}
  >
    <FaIcon @icon="plus" />
    {{t 'home-page.saving-plans-card.create-new-button'}}
  </span>
</Modals::-TriggerButton>
<Modals::-base @isOpen={{this.isModalOpen}}>
  <:header>
    <div>
      Create new saving plan
    </div>
  </:header>
  <:body>
    <Forms::SavingPlan @savingPlanInformation={{this.newSavingPlan}} />
    <div class="flex justify-between items-center mt-5">
      <Modals::-TriggerButton>
        <Button {{on 'click' (fn (mut this.isModalOpen) false)}}>
          Close me
        </Button>
      </Modals::-TriggerButton>
      <Button class="btn-primary" {{on 'click' this.createSavingPlan}}>
        <FaIcon @icon="floppy-disk" class="mr-1" />
        Save
      </Button>
    </div>
  </:body>
</Modals::-base>