<Modals::-TriggerButton>
  <span
    class="btn btn-ghost bg-red-800/20 hover:bg-red-800/40"
    {{on 'click' (fn (mut this.isModalOpen) true)}}
  >
    <FaIcon @icon="trash" />
    <Tooltip>
      {{t 'forms.delete-saving-plan.title'}}
    </Tooltip>
  </span>
</Modals::-TriggerButton>
<Modals::-base @isOpen={{this.isModalOpen}}>
  <:header>
    {{t 'forms.delete-saving-plan.title'}}
  </:header>
  <:body>
    {{t 'forms.delete-saving-plan.are-you-sure' title=@savingPlan.title}}
    <div class="flex justify-between items-center mt-5">
      <Modals::-TriggerButton>
        <Button {{on 'click' (fn (mut this.isModalOpen) false)}}>
          {{t 'modals.cancel-button'}}
        </Button>
      </Modals::-TriggerButton>
      <Button class="btn-primary" {{on 'click' this.deleteSavingPlan}}>
        {{t 'modals.confirm-button'}}
      </Button>
    </div>
  </:body>
</Modals::-base>