<Modals::-TriggerButton>
  <span
    class="ml-2 btn btn-sm btn-ghost bg-red-800/20 hover:bg-red-800/40 dark:bg-red-800/50 dark:hover:bg-red-800/70"
    {{on 'click' (fn (mut this.isModalOpen) true)}}
  >
    <FaIcon @icon="trash" />
    <Tooltip>
      {{t
        'modals.delete-finance-data.tooltip'
        month=(moment-format @data.datetime 'MMMM YYYY')
        htmlSafe=true
      }}
    </Tooltip>
  </span>
</Modals::-TriggerButton>
<Modals::-base @isOpen={{this.isModalOpen}}>
  <:header>
    {{t 'modals.delete-finance-data.header'}}
  </:header>
  <:body>
    {{t
      'modals.delete-finance-data.are-u-sure-text'
      month=(moment-format @data.datetime 'MMMM YYYY')
    }}
    <div class="flex justify-between items-center mt-5">
      <Modals::-TriggerButton>
        <Button
          class="dark:bg-gray-950"
          {{on 'click' (fn (mut this.isModalOpen) false)}}
        >
          {{t 'modals.cancel-button'}}
        </Button>
      </Modals::-TriggerButton>
      <Button
        class="btn-primary"
        {{on
          'click'
          (queue @onConfirmDeletion (fn (mut this.isModalOpen) false))
        }}
      >
        {{t 'modals.confirm-button'}}
      </Button>
    </div>
  </:body>
</Modals::-base>