<Modals::-TriggerButton>
  <span
    class="btn btn-ghost bg-red-800/20 hover:bg-red-800/40"
    {{on 'click' (fn (mut this.isModalOpen) true)}}
  >
    <FaIcon @icon="trash" />
    <Tooltip>
      Delete saving plan
    </Tooltip>
  </span>
</Modals::-TriggerButton>
<Modals::-base @isOpen={{this.isModalOpen}}>
  <:header>
    Delete saving plan
  </:header>
  <:body>
    Are you sure you want to delete saving plan for
    {{concat @savingPlan.title '?'}}
    <div class="flex justify-between items-center mt-5">
      <Modals::-TriggerButton>
        <Button {{on 'click' (fn (mut this.isModalOpen) false)}}>
          Cancel
        </Button>
      </Modals::-TriggerButton>
      <Button class="btn-primary" {{on 'click' this.deleteSavingPlan}}>
        Confirm
      </Button>
    </div>
  </:body>
</Modals::-base>