<Modals::-TriggerButton>
  <span
    class="btn btn-ghost bg-red-800/20 hover:bg-red-800/40"
    {{on 'click' (fn (mut this.isModalOpen) true)}}
  >
    <FaIcon @icon="trash" />
    <Tooltip>
      Delete saving plan
    </Tooltip>
  </span>
</Modals::-TriggerButton>
<Modals::-base
  @isOpen={{this.isModalOpen}}
  @onClickOutside={{fn (mut this.isModalOpen) false}}
>
  <:header>
    Delete saving plan
  </:header>
  <:body>
    Are you sure you want to delete saving plan for
    {{concat @savingPlan.title '?'}}
    <div class="flex justify-between items-center mt-5">
      <Modals::-TriggerButton>
        <span class="btn" {{on 'click' (fn (mut this.isModalOpen) false)}}>
          Cancel
        </span>
      </Modals::-TriggerButton>
      <Button {{on 'click' this.deleteSavingPlan}}>
        Confirm
      </Button>
    </div>
  </:body>
</Modals::-base>