<Modals::-TriggerButton>
  <span
    class="ml-2 btn btn-sm btn-ghost bg-red-800/20 hover:bg-red-800/40"
    {{on 'click' (fn (mut this.isModalOpen) true)}}
  >
    <FaIcon @icon="trash" />
    <Tooltip>
      Delete financial data for
      {{moment-format @data.datetime 'MMMM YYYY'}}
    </Tooltip>
  </span>
</Modals::-TriggerButton>
<Modals::-base @isOpen={{this.isModalOpen}}>
  <:header>
    Delete financial data
  </:header>
  <:body>
    Are you sure you want to delete data for
    {{moment-format @data.datetime 'MMMM YYYY'}}
    <div class="flex justify-between items-center mt-5">
      <Modals::-TriggerButton>
        <Button {{on 'click' (fn (mut this.isModalOpen) false)}}>
          Cancel
        </Button>
      </Modals::-TriggerButton>
      <Button
        class="btn-primary"
        {{on
          'click'
          (queue @onConfirmDeletion (fn (mut this.isModalOpen) false))
        }}
      >
        Confirm
      </Button>
    </div>
  </:body>
</Modals::-base>