<Modals::-TriggerButton>
  <FaIcon
    @icon="pencil"
    class="p-1 hover:bg-gray-500 hover:text-white cursor-pointer rounded"
    {{on 'click' (fn (mut this.isModalOpen) true)}}
  />
</Modals::-TriggerButton>
<Modals::-base @isOpen={{this.isModalOpen}}>
  <:header>
    <div>
      Edit savings
    </div>
  </:header>
  <:body>
    <div class="font-light">
      {{@monthInfo.formatedDate}}
    </div>
    <div class="font-light text-left mt-1 mb-2">
      Target:
      <span class="font-normal">
        {{concat (round @monthInfo.targetSavings decimals=2) @currency}}
      </span>
    </div>
    <InputField
      @label="Amount saved this month"
      @value={{this.savedAmount}}
      @type="number"
      @onInput={{fn (mut this.savedAmount)}}
      @min="1"
    />
    <div class="flex justify-between items-center mt-5">
      <Modals::-TriggerButton>
        <span class="btn" {{on 'click' (fn (mut this.isModalOpen) false)}}>
          Close me
        </span>
      </Modals::-TriggerButton>
      <Button
        {{on
          'click'
          (queue
            this.closeModalAndUpdateDatabase
            (fn (mut @monthInfo.savedAmount) this.savedAmount)
          )
        }}
      >
        <FaIcon @icon="floppy-disk" class="mr-1" />
        Save
      </Button>
    </div>
  </:body>
</Modals::-base>