<Modals::-TriggerButton>
  <FaIcon
    @icon="pencil"
    class="p-1 hover:bg-gray-500 hover:text-white cursor-pointer rounded"
    {{on 'click' (fn (mut this.isModalOpen) true)}}
  />
</Modals::-TriggerButton>
<Modals::-base @isOpen={{this.isModalOpen}}>
  <:header>
    {{t
      'modals.edit-saving-plan-month-savings.header'
      month=(moment-format @monthInfo.date 'MMMM YYYY')
      goalName=@savingPlan.title
    }}
  </:header>
  <:body>
    <div class="text-left mt-1 mb-2">
      {{t 'modals.edit-saving-plan-month-savings.target'}}
      {{concat (round @monthInfo.targetSavings decimals=2) @currencySymbol}}
    </div>
    <InputField
      @label={{t
        'modals.edit-saving-plan-month-savings.input-label'
        currency=@currencySymbol
      }}
      @placeholder={{t 'modals.edit-saving-plan-month-savings.placeholder'}}
      @value={{this.savedAmount}}
      @type="number"
      @onInput={{fn (mut this.savedAmount)}}
      @min="0"
    />
    <div class="flex justify-between items-center mt-5">
      <Modals::-TriggerButton>
        <Button
          class="dark:bg-gray-950"
          {{on 'click' (fn (mut this.isModalOpen) false)}}
        >
          {{t 'modals.close-button'}}
        </Button>
      </Modals::-TriggerButton>
      <Button
        class="btn-primary"
        {{on 'click' this.closeModalAndUpdateDatabase}}
      >
        <FaIcon @icon="floppy-disk" class="mr-1" />
        {{t 'modals.save-button'}}
      </Button>
    </div>
  </:body>
</Modals::-base>