<Modals::-TriggerButton>
  <span
    class="btn btn-sm btn-ghost bg-gray-200/80"
    {{on 'click' (fn (mut this.isModalOpen) true)}}
  >
    <FaIcon @icon="pen-to-square" />
    <Tooltip>
      Edit financial entries for
      {{@data.month}}
    </Tooltip>
  </span>
</Modals::-TriggerButton>
<Modals::-base @isOpen={{this.isModalOpen}}>
  <:header>
    <div>
      Edit financial data
    </div>
  </:header>
  <:body>
    <div class="flex justify-between items-center">
      {{@data.month}}
      <Button
        class="btn-sm btn-outline"
        {{on 'click' this.resetEditableValuesToDefault}}
      >
        <FaIcon @icon="rotate-right" class="mr-1" />
        Reset
      </Button>
    </div>
    <Forms::FinanceData @editMode={{true}} @data={{this.copiedData}} />
    <div class="flex justify-between items-center mt-5">
      <Modals::-TriggerButton>
        <Button {{on 'click' (fn (mut this.isModalOpen) false)}}>
          Close
        </Button>
      </Modals::-TriggerButton>
      <Button class="btn-primary" {{on 'click' this.saveChanges}}>
        <FaIcon @icon="floppy-disk" class="mr-1" />
        Save
      </Button>
    </div>
  </:body>
</Modals::-base>