<Modals::-TriggerButton>
  <span
    class="btn btn-sm btn-ghost bg-gray-200/80"
    {{on 'click' (fn (mut this.isModalOpen) true)}}
  >
    <FaIcon @icon="pen-to-square" />
    <Tooltip>
      {{t
        'modals.edit-finance-data.tooltip'
        month=(moment-format @data.datetime 'MMMM YYYY')
        htmlSafe=true
      }}
    </Tooltip>
  </span>
</Modals::-TriggerButton>
<Modals::-base @isOpen={{this.isModalOpen}}>
  <:header>
    <div>
      {{t 'modals.edit-finance-data.header'}}
    </div>
  </:header>
  <:body>
    <div class="flex justify-between items-center">
      {{moment-format @data.datetime 'MMMM YYYY'}}
      <Button
        class="btn-sm btn-outline"
        {{on 'click' this.resetEditableValuesToDefault}}
      >
        <FaIcon @icon="rotate-right" />
        {{t 'reset-button'}}
      </Button>
    </div>
    <Forms::FinanceData @editMode={{true}} @data={{this.copiedData}} />
    <div class="flex justify-between items-center mt-5">
      <Modals::-TriggerButton>
        <Button {{on 'click' (fn (mut this.isModalOpen) false)}}>
          {{t 'modals.close-button'}}
        </Button>
      </Modals::-TriggerButton>
      <Button class="btn-primary" {{on 'click' this.saveChanges}}>
        <FaIcon @icon="floppy-disk" />
        {{t 'modals.save-button'}}
      </Button>
    </div>
  </:body>
</Modals::-base>