<Modals::-TriggerButton>
  <span
    class="btn btn-ghost bg-gray-200/80"
    {{on 'click' (fn (mut this.isModalOpen) true)}}
  >
    <FaIcon @icon="pen-to-square" />
    <Tooltip>
      {{t 'forms.edit-saving-plan.title'}}
    </Tooltip>
  </span>
</Modals::-TriggerButton>
<Modals::-base @isOpen={{this.isModalOpen}}>
  <:header>
    {{t 'forms.edit-saving-plan.title'}}
  </:header>
  <:body>
    <Forms::SavingPlan
      @editMode={{true}}
      @savingPlanInformation={{this.copyOfEditableSavingPlan}}
    />
    <div class="flex justify-between items-center mt-5">
      <Modals::-TriggerButton>
        <Button class="btn" {{on 'click' (fn (mut this.isModalOpen) false)}}>
          {{t 'modals.close-button'}}
        </Button>
      </Modals::-TriggerButton>
      <Button class="btn-primary" {{on 'click' this.saveChanges}}>
        <FaIcon @icon="floppy-disk" class="mr-1" />
        {{t 'modals.save-button'}}
      </Button>
    </div>
  </:body>
</Modals::-base>