<h3 class="text-center dark:text-gray-200 text-lg my-1">
  {{t 'charts.savings-spendings-overview-title'}}
</h3>
{{#if this.requestService.isAppDataLoading}}
  <div class="flex items-center justify-center h-full">
    <span class="loading loading-ring loading-lg"></span>
  </div>
{{else if this.chartData}}
  <HighCharts @chartOptions={{this.chartOptions}} @content={{this.chartData}} />
{{else}}
  <div class="flex justify-center items-center h-full">
    <Alert class="mb-12" @text={{t 'alert.no-financial-data'}} />
  </div>
{{/if}}