{{#if @editMode}}
  <div class="mt-3">
    <label class="label py-1">
      <span class="label-text leading-none">
        {{t 'currency'}}
      </span>
    </label>
    <PowerSelect
      class="h-[3rem] !p-2"
      @selected={{this.selectedCurrency}}
      @options={{this.userService.currencies}}
      @searchEnabled={{true}}
      @searchField="searchableText"
      @onChange={{this.changeCurrency}} as |currency|
    >
      {{currency.code}}
      <span class="text-xs opacity-70">
        {{concat '(' currency.symbol ')'}}
      </span>
    </PowerSelect>
  </div>
{{/if}}
<InputField
  class="mt-3"
  @type="number"
  @value={{@data.income}}
  @min={{0}}
  @label="{{t 'home-page.income'}} ({{this.selectedCurrency.symbol}})"
  @onInput={{fn (mut @data.income)}}
  @placeholder={{t 'forms.finance-data.income-placeholder'}}
  {{will-destroy this.resetFormValidations}}
/>
<InputField
  class="mt-3"
  @type="number"
  @value={{@data.spendings}}
  @min={{0}}
  @label="{{t 'home-page.spendings'}} ({{this.selectedCurrency.symbol}})"
  @onInput={{fn (mut @data.spendings)}}
  @placeholder={{t 'forms.finance-data.spendings-placeholder'}}
/>
<div class="text-sm mt-3">
  {{t 'forms.finance-data.savings'}}
  {{concat
    (round (sub @data.income @data.spendings))
    this.selectedCurrency.symbol
  }}
</div>
<div class="text-sm mt-1 mb-3">
  {{t 'forms.finance-data.total-balance'}}
  {{concat
    (round (sum @data.initialTotalBalance (sub @data.income @data.spendings)))
    this.selectedCurrency.symbol
  }}
</div>