{{page-title (t 'finance-panel.title')}}
<EmberWormhole @to="page-body-wormhole">
  <PageLayout @pageTitle={{t 'finance-panel.title'}}>
    <div
      class="card h-full bg-base-100 dark:bg-gray-800 shadow-xl"
      ...attributes
    >
      {{#if this.model.length}}
        <div class="overflow-x-auto rounded-lg">
          <table class="table w-full fade-in-animation">
            <thead class="bg-neutral-100 dark:bg-gray-700 rounded-lg">
              <tr class="dark:text-gray-100 dark:border-gray-700">
                <th>
                  {{t 'finance-panel.table.date'}}
                </th>
                <th>
                  {{t 'home-page.income'}}
                </th>
                <th>
                  {{t 'home-page.spendings'}}
                </th>
                <th>
                  {{t 'home-page.savings'}}
                </th>
                <th>
                  {{t 'home-page.total-balance.title'}}
                </th>
                <th>
                  {{t 'finance-panel.table.actions'}}
                </th>
              </tr>
            </thead>
            <tbody>
              {{#each this.model as |row|}}
                <tr class="dark:border-gray-600 dark:text-gray-200">
                  <td>
                    {{moment-format row.datetime 'MMMM YYYY'}}
                  </td>
                  <td>
                    <span class="flex">
                      {{if row.income (round row.income) '-'}}
                      <CurrencyInfo @currencyCode={{row.currencyCode}} />
                    </span>
                  </td>
                  <td>
                    <span class="flex">
                      {{if row.spendings (round row.spendings) '-'}}
                      <CurrencyInfo @currencyCode={{row.currencyCode}} />
                    </span>
                  </td>
                  <td>
                    <span class="flex">
                      {{round row.savings}}
                      <CurrencyInfo @currencyCode={{row.currencyCode}} />
                    </span>
                  </td>
                  <td>
                    <span class="flex">
                      {{round row.updatedTotalBalance}}
                      <CurrencyInfo @currencyCode={{row.currencyCode}} />
                    </span>
                  </td>
                  <td class="flex">
                    <Modals::EditFinanceData
                      @data={{row}}
                      @onSave={{fn this.saveChangedData row}}
                    />
                    {{#if (compute this.isDeleteAllowed row)}}
                      <Modals::DeleteFinanceData
                        @data={{row}}
                        @onConfirmDeletion={{fn this.deleteRow row}}
                      />
                    {{/if}}
                  </td>
                </tr>
              {{/each}}
            </tbody>
          </table>
          <div class="my-3 flex justify-center">
            <Modals::AddNewFinanceData
              @candidateDatetime={{this.nextMonth}}
              @onAddNewMonth={{this.addNewMonth}}
            />
          </div>
        </div>
      {{else}}
        <div class="flex flex-col items-center justify-center mt-4 gap-4">
          <Alert @text={{t 'alert.no-financial-data-added'}} />
          <Modals::AddNewFinanceData
            @candidateDatetime={{moment-format (now)}}
            @onAddNewMonth={{this.addNewMonth}}
          />
        </div>
      {{/if}}
    </div>
    <GoBackButton class="ml-2 xl:ml-0 mt-8" />
  </PageLayout>
</EmberWormhole>