{{page-title 'Finance panel'}}
<EmberWormhole @to="page-body-wormhole">
  <PageLayout @pageTitle="Finance panel">
    <div class="card h-full bg-base-100 shadow-xl" ...attributes>
      <span class="flex font-light items-center my-4 ml-8">
        Initial total balance
        <span class="ml-1 text-sm">
          {{concat '(before ' this.initialTotalBalanceMonth ' savings):'}}
        </span>
        <Modals::AddOrEditInitialTotalBalance @buttonSmall={{true}} />
      </span>
      {{#if this.model.length}}
        <div class="overflow-x-auto rounded-lg px-8">
          <table class="table w-full fade-in-animation">
            <thead class="bg-neutral-100 rounded-lg">
              <tr>
                <th class="!relative">
                  Date
                </th>
                <th>
                  Income
                </th>
                <th>
                  Spendings
                </th>
                <th>
                  Savings
                </th>
                <th>
                  Total Balance
                </th>
                <th>
                  Actions
                </th>
              </tr>
            </thead>
            <tbody>
              {{#each this.model as |row|}}
                <tr>
                  <td>
                    {{moment-format row.datetime 'MMMM YYYY'}}
                  </td>
                  <td>
                    <span class="flex">
                      {{if row.income (round row.income) '-'}}
                      <CurrencyInfo @currencyCode={{row.currencyCode}} />
                    </span>
                  </td>
                  <td>
                    <span class="flex">
                      {{if row.spendings (round row.spendings) '-'}}
                      <CurrencyInfo @currencyCode={{row.currencyCode}} />
                    </span>
                  </td>
                  <td>
                    <span class="flex">
                      {{round row.savings}}
                      <CurrencyInfo @currencyCode={{row.currencyCode}} />
                    </span>
                  </td>
                  <td>
                    <span class="flex">
                      {{round row.updatedTotalBalance}}
                      <CurrencyInfo @currencyCode={{row.currencyCode}} />
                    </span>
                  </td>
                  <td class="flex">
                    <Modals::EditFinanceData
                      @data={{row}}
                      @onSave={{fn this.saveChangedData row}}
                    />
                    {{#if (compute this.isDeleteAllowed row)}}
                      <Modals::DeleteFinanceData
                        @data={{row}}
                        @onConfirmDeletion={{fn this.deleteRow row}}
                      />
                    {{/if}}
                  </td>
                </tr>
              {{/each}}
            </tbody>
          </table>
          <div class="mt-3 flex justify-center">
            <Modals::AddNewFinancialData
              @candidateDatetime={{this.nextMonth}}
              @onAddNewMonth={{this.addNewMonth}}
            />
          </div>
        </div>
      {{else}}
        <div class="flex flex-col items-center justify-center mt-4 gap-4">
          <Alert @text="You haven't added any financial data">
            Add
          </Alert>
          <Modals::AddNewFinancialData
            @candidateDatetime={{moment-format (now)}}
            @onAddNewMonth={{this.addNewMonth}}
          />
        </div>
      {{/if}}
    </div>
    <GoBackButton class="mt-8" />
  </PageLayout>
</EmberWormhole>