{{page-title 'Finance overview'}}
<EmberWormhole @to="page-body-wormhole">
  <PageLayout @pageTitle="Finance overview">
    <div class="card h-full bg-base-100 shadow-xl" ...attributes>
      {{#if this.model.length}}
        <div class="overflow-x-auto p-3">
          <div class="mb-3 flex justify-center">
            <Modals::AddNewFinancialData
              @candidateMonth={{this.previousMonth}}
              @onAddNewMonth={{this.addNewMonth}}
            />
          </div>
          <table class="table w-full">
            <thead>
              <tr>
                <th class="!relative">
                  Date
                </th>
                <th>
                  Income
                </th>
                <th>
                  Spendings
                </th>
                <th>
                  Total Balance
                </th>
                <th></th>
              </tr>
            </thead>
            <tbody>
              {{#each this.model as |row|}}
                <tr>
                  <td>
                    {{row.date}}
                  </td>
                  <td>
                    {{if row.income row.income '-'}}
                    {{row.currencySymbol}}
                  </td>
                  <td>
                    {{if row.spendings row.spendings '-'}}
                    {{row.currencySymbol}}
                  </td>
                  <td>
                    {{if row.totalBalance row.totalBalance '-'}}
                    {{row.currencySymbol}}
                  </td>
                  <td class="flex">
                    <Modals::EditFinanceData
                      @data={{row}}
                      @onSave={{fn this.saveChangedData row}}
                    />
                    <Modals::DeleteFinanceData
                      @data={{row}}
                      @onConfirmDeletion={{this.deleteRow}}
                    />
                  </td>
                </tr>
              {{/each}}
            </tbody>
          </table>
          <div class="mt-3 flex justify-center">
            <Modals::AddNewFinancialData
              @candidateMonth={{this.nextMonth}}
              @onAddNewMonth={{this.addNewMonth}}
            />
          </div>
        </div>
      {{else}}
        <div class="flex flex-col items-center justify-center mt-4 gap-4">
          <Alert @text="You haven't added any financial data">
            Add
          </Alert>
          <Modals::AddNewFinancialData
            @candidateMonth={{moment-format (now) 'MMMM YYYY'}}
            @onAddNewMonth={{this.addNewMonth}}
          />
        </div>
      {{/if}}
    </div>
    <GoBackButton class="mt-8" />
  </PageLayout>
</EmberWormhole>