{{page-title 'Details'}}
<EmberWormhole @to="page-body-wormhole">
  <PageLayout @pageTitle="Saving Plan - {{this.model.title}}">
    <div
      class="flex justify-center xl:justify-start flex-wrap 3xl:flex-nowrap gap-8 mb-8"
    >
      <Card class="basis-1/5" @icon="sack-dollar">
        <:header>
          Target amount
        </:header>
        <:body>
          {{@model.targetAmount}}
          {{this.currency}}
        </:body>
      </Card>
      <Card class="basis-1/5" @icon="calendar-days">
        <:header>
          Start date
        </:header>
        <:body>
          <span class="xl:text-xl">
            {{moment-format @model.startDate 'MMMM DD, YYYY'}}
          </span>
          <span class="text-sm opacity-50 font-light whitespace-nowrap">
            {{this.timeFromStartDate}}
            ago
          </span>
        </:body>
      </Card>
      <Card class="basis-1/5" @icon="calendar-days">
        <:header>
          Deadline
        </:header>
        <:body>
          <span class="xl:text-lg">
            {{moment-format @model.deadlineDate 'MMMM DD, YYYY'}}
          </span>
          <span class="text-sm opacity-50 font-light whitespace-nowrap">
            in
            {{this.timeUntilDeadline}}
          </span>
        </:body>
      </Card>
      <Card class="basis-1/5" @icon="hand-holding-dollar">
        <:header>
          Savings
        </:header>
        <:body>
          <div class="flex flex-col text-sm font-normal whitespace-nowrap">
            <span>
              Starting capital:
              <span class="font-bold">
                {{concat @model.startingCapital this.currency}}
              </span>
            </span>
            <div>
              Total saved:
              <span class="font-bold">
                {{concat @model.totalBalance this.currency}}
              </span>
            </div>
            <div>
              Remaining:
              <span class="font-bold">
                {{concat
                  (sub @model.targetAmount @model.totalBalance)
                  this.currency
                }}
              </span>
            </div>
          </div>
        </:body>
      </Card>
      <Card class="basis-1/5" @icon="hammer">
        <:header>
          Actions
        </:header>
        <:body>
          <div class="flex">
            <span class="mr-2">
              <Modals::EditSavingPlan @savingPlan={{@model}} />
            </span>
            <Modals::DeleteSavingPlan @savingPlan={{@model}} />
          </div>
        </:body>
      </Card>
    </div>
    <div
      class="card grow bg-base-100 shadow-xl p-2 xl:px-8 min-h-[30rem] qHd:min-h-[35rem]"
    >
      <div class="tabs flex justify-center">
        <a
          class="tab tab-bordered
            {{if (eq this.activeTab 'progress') 'tab-active'}}"
          {{on 'click' (fn (mut this.activeTab) 'progress')}}
        >
          Saving progress
        </a>
        <a
          class="tab tab-bordered
            {{if (eq this.activeTab 'planning') 'tab-active'}}"
          {{on 'click' (fn (mut this.activeTab) 'planning')}}
        >
          Monthly planning
        </a>
        <a
          class="tab tab-bordered mt-3 xl:mt-0
            {{if (eq this.activeTab 'monthly-analysis') 'tab-active'}}"
          {{on 'click' (fn (mut this.activeTab) 'monthly-analysis')}}
        >
          Monthly analysis
        </a>
      </div>
      <div class="card-body px-4 py-6 overflow-auto">
        {{#if (eq this.activeTab 'planning')}}
          <div class="flex gap-8 flex-wrap mt-1 fade-in-animation">
            {{#each @model.monthsListUntilDeadline as |monthInfo|}}
              <MonthlySavingCard
                @savingPlan={{@model}}
                @monthInfo={{monthInfo}}
                @currency={{this.currency}}
              />
            {{/each}}
          </div>
        {{else if (eq this.activeTab 'progress')}}
          <div class="fade-in-animation overflow-hidden">
            <Charts::SavingProgressPie @data={{this.model}} />
          </div>
        {{else if (eq this.activeTab 'monthly-analysis')}}
          <div class="fade-in-animation overflow-hidden">
            <Charts::MonthlySavingStats
              @data={{@model.monthsListUntilDeadline}}
              @currency={{this.currency}}
            />
          </div>
        {{/if}}
      </div>
    </div>
    <GoBackButton class="mt-8" />
  </PageLayout>
</EmberWormhole>