{{page-title 'Details'}}
<EmberWormhole @to="page-body-wormhole">
  <PageLayout @pageTitle="Saving Plan - {{this.model.title}}">
    <div class="flex gap-8 mb-8">
      <Card class="basis-1/5" @icon="sack-dollar">
        <:header>
          Target amount
        </:header>
        <:body>
          {{@model.targetAmount}}
          {{this.currency}}
        </:body>
      </Card>
      <Card class="basis-1/5" @icon="hand-holding-dollar">
        <:header>
          Savings
        </:header>
        <:body>
          <div class="flex flex-col text-sm font-normal">
            <span>
              Starting capital:
              <span class="font-bold">
                {{@model.startingCapital}}
              </span>
              {{this.currency}}
            </span>
            <div class="flex justify-between items-center">
              Total saved:
              <span class="font-bold">
                {{this.totalAmountSaved}}
              </span>
              {{this.currency}}
              <span class="badge bg-lime-700/50 border-none text-white text-xs">
                <FaIcon @icon="arrow-up" class="mr-1" />
                20%
              </span>
            </div>
          </div>
        </:body>
      </Card>
      <Card class="basis-1/5" @icon="calendar-days">
        <:header>
          Start date
        </:header>
        <:body>
          <span class="text-xl">
            {{moment-format @model.startDate 'MMMM DD, YYYY'}}
          </span>
        </:body>
      </Card>
      <Card class="basis-1/5" @icon="calendar-days">
        <:header>
          Deadline
        </:header>
        <:body>
          <span class="text-lg">
            {{moment-format @model.deadlineDate 'MMMM DD, YYYY'}}
          </span>
          <span class="text-sm opacity-50 font-light">
            in
            {{this.timeUntilDeadline}}
          </span>
        </:body>
      </Card>
      <Card class="basis-1/5" @icon="hammer">
        <:header>
          Actions
        </:header>
        <:body>
          <div class="flex">
            <span class="mr-2">
              <Modals::EditSavingPlan @savingPlan={{@model}} />
            </span>
            <Modals::DeleteSavingPlan @savingPlan={{@model}} />
          </div>
        </:body>
      </Card>
    </div>
    <div class="card grow bg-base-100 shadow-xl p-2 px-8">
      <div class="tabs flex justify-center">
        <a
          class="tab tab-bordered
            {{if (eq this.activeTab 'progress') 'tab-active'}}"
          {{on 'click' (fn (mut this.activeTab) 'progress')}}
        >
          Saving progress
        </a>
        <a
          class="tab tab-bordered
            {{if (eq this.activeTab 'planning') 'tab-active'}}"
          {{on 'click' (fn (mut this.activeTab) 'planning')}}
        >
          Monthly planning
        </a>
      </div>
      <div class="card-body px-4 py-10">
        {{#if (eq this.activeTab 'planning')}}
          Current month:
          {{moment-format (now) 'MMMM YYYY'}}
          <div class="flex gap-4 flex-wrap">
            {{#each this.monthsListUntilDeadline as |monthInfo|}}
              <MonthlySavingCard
                @monthInfo={{monthInfo}}
                @currency={{this.currency}}
              />
            {{/each}}
          </div>
        {{else}}
          <HighCharts
            @chartOptions={{this.chartOptions}}
            @content={{this.chartData}}
          />
        {{/if}}
      </div>
    </div>
    <GoBackButton class="mt-8" />
  </PageLayout>
</EmberWormhole>