{{page-title 'Details'}}
<EmberWormhole @to="page-body-wormhole">
  <PageLayout @pageTitle="Saving Plan">
    <div class="flex gap-8 mb-8">
      <Card class="basis-1/5" @icon="sack-dollar">
        <:header>
          Target amount
        </:header>
        <:body>
          {{@model.targetAmount}}
          {{this.currency}}
        </:body>
      </Card>
      <Card class="basis-1/5" @icon="hand-holding-dollar">
        <:header>
          Saved amount
        </:header>
        <:body>
          <div class="flex justify-between items-center">
            {{@model.savedAmount}}
            {{this.currency}}
            <span class="badge bg-lime-700/50 border-none text-white">
              <FaIcon @icon="arrow-up" class="mr-1 text-xs" />
              20%
            </span>
          </div>
        </:body>
      </Card>
      <Card class="basis-1/5" @icon="calendar-days">
        <:header>
          Start date
        </:header>
        <:body>
          <span class="text-xl">
            {{moment-format @model.startDate 'MMMM DD, YYYY'}}
          </span>
        </:body>
      </Card>
      <Card class="basis-1/5" @icon="calendar-days">
        <:header>
          Deadline
        </:header>
        <:body>
          <span class="text-lg">
            {{moment-format @model.deadlineDate 'MMMM DD, YYYY'}}
          </span>
          <span class="text-sm opacity-50 font-light">
            in
            {{this.timeUntilDeadline}}
          </span>
        </:body>
      </Card>
      <Card class="basis-1/5" @icon="hammer">
        <:header>
          Actions
        </:header>
        <:body>
          <div class="flex">
            <span class="mr-2">
              <Modals::EditSavingPlan @savingPlan={{@model}} />
            </span>
            <Modals::DeleteSavingPlan @savingPlan={{@model}} />
          </div>
        </:body>
      </Card>
    </div>
    <div class="card grow bg-base-100 shadow-xl p-2 px-8">
      <div class="tabs flex justify-center">
        <a
          class="tab tab-bordered
            {{if (eq this.activeTab 'progress') 'tab-active'}}"
          {{on 'click' (fn (mut this.activeTab) 'progress')}}
        >
          Saving progress
        </a>
        <a
          class="tab tab-bordered
            {{if (eq this.activeTab 'planning') 'tab-active'}}"
          {{on 'click' (fn (mut this.activeTab) 'planning')}}
        >
          Monthly planning
        </a>
      </div>
      <div class="card-body p-4">
        {{#if (eq this.activeTab 'planning')}}
          <div class="flex gap-4 flex-wrap">
            Start
            {{#each this.monthsListUntilDeadline as |monthInfo index|}}
              <div
                class="flex flex-col w-28 gap-2 text-center bg-gray-200/80 rounded shadow p-2 text-sm
                  {{if (eq index 0) 'bg-lime-500/20'}}

                  {{if
                    (eq this.monthsListUntilDeadline.length (sum index 1))
                    'bg-red-500/20'
                  }}"
              >
                <span>
                  Target:
                  {{concat (round monthInfo.targetSavings) this.currency}}
                  <Tooltip>
                    In
                    {{moment-format monthInfo.momentDate 'MMMM YYYY'}}
                    you are expected to save
                    {{round monthInfo.targetSavings decimals=2}}
                    {{this.currency}}
                  </Tooltip>
                </span>
                <div class="flex flex-col">
                  <span>
                    {{monthInfo.month}}
                  </span>
                  <span>
                    {{monthInfo.year}}
                  </span>
                </div>
              </div>
            {{/each}}
            End
          </div>
        {{else}}
          <HighCharts
            @chartOptions={{this.chartOptions}}
            @content={{this.chartData}}
          />
        {{/if}}
      </div>
    </div>
    <GoBackButton class="mt-8" />
  </PageLayout>
</EmberWormhole>