{{page-title 'Details'}}
<EmberWormhole @to="page-body-wormhole">
  <PageLayout @pageTitle="Saving Plan">
    <div class="flex gap-8 mb-8">
      <Card class="basis-1/4" @icon="sack-dollar">
        <:header>
          Target amount
        </:header>
        <:body>
          {{@model.targetAmount}}
          {{this.currency}}
        </:body>
      </Card>
      <Card class="basis-1/4" @icon="hand-holding-dollar">
        <:header>
          Saved amount
        </:header>
        <:body>
          <div class="flex justify-between items-center">
            {{@model.savedAmount}}
            {{this.currency}}
            <span class="badge bg-lime-700/50 border-none text-white">
              <FaIcon @icon="arrow-up" class="mr-1 text-xs" />
              20%
            </span>
          </div>
        </:body>
      </Card>
      <Card class="basis-1/4" @icon="calendar-days">
        <:header>
          Deadline
        </:header>
        <:body>
          <span class="text-xl">
            {{moment-format @model.deadlineDate 'MMMM DD, YYYY'}}
          </span>
          <span class="text-sm opacity-50 font-light">
            in
            {{this.timeUntilDeadline}}
          </span>
        </:body>
      </Card>
      <Card class="basis-1/4" @icon="hammer">
        <:header>
          Actions
        </:header>
        <:body>
          <div class="flex">
            <span class="mr-2">
              <Modals::EditSavingPlan @savingPlan={{@model}} />
            </span>
            <Modals::DeleteSavingPlan @savingPlan={{@model}} />
          </div>
        </:body>
      </Card>
    </div>
    <div class="card grow bg-base-100 shadow-xl p-2 px-8">
      <div class="tabs flex justify-center">
        <a
          class="tab tab-bordered
            {{if (eq this.activeTab 'progress') 'tab-active'}}"
          {{on 'click' (fn (mut this.activeTab) 'progress')}}
        >
          Saving progress
        </a>
        <a
          class="tab tab-bordered
            {{if (eq this.activeTab 'planning') 'tab-active'}}"
          {{on 'click' (fn (mut this.activeTab) 'planning')}}
        >
          Monthly planning
        </a>
      </div>
      <div class="card-body p-4">
        {{#if (eq this.activeTab 'planning')}}
          <div class="grid grid-cols-9 gap-4">
            {{#each this.monthsListUntilDeadline as |month|}}
              <div class="flex flex-col w-28 text-center">
                <span>
                  Target:
                  {{month.targetMonthSavings}}
                </span>
                <span>
                  {{moment-format month.date 'MMMM'}}
                </span>
                <span>
                  {{moment-format month.date 'YYYY'}}
                </span>
              </div>
            {{/each}}
          </div>
        {{else}}
          <HighCharts
            @chartOptions={{this.chartOptions}}
            @content={{this.chartData}}
          />
        {{/if}}
      </div>
    </div>
    <GoBackButton class="mt-8" />
  </PageLayout>
</EmberWormhole>